<ActionBar title="Details" class="action-bar"></ActionBar>
<FlexboxLayout flexDirection="column" class="page">
    <FlexboxLayout class="m-15">
        <Label class="h2" [text]="weapon.type + '. '"></Label>
        <Label class="h2" [text]="weapon.name"></Label>
    </FlexboxLayout>
    <ListView [items]="materialList" class="list-group">
        <ng-template let-item="item">
            <Label [nsRouterLink]="['/item', item.id]" [text]="item.name" class="list-group-item"></Label>
        </ng-template>
    </ListView>
    <Label class="h4" [text]="weapon.description"></Label>
</FlexboxLayout>